<nav class="navbar">
  <div class="container-fluid">
    <div class="row">
      <div class="github clickable" ng-click="ctrl.goGithub()" title="Visit my GitHub Page">
        <img src="images/github.png" />
      </div>
      <div class="linkedin clickable" ng-click="ctrl.goLinkedin()" title="Visit my LinkedIn Page">
        <img class="icon" src="images/linkedin.png" />
      </div>
      <div class="website col-md-4 col-md-offset-4" ng-click="ctrl.goHome()">
        <h1 class="elegantshadow clickable">Adam Dykaar</h1>
      </div>
    </div>
  </div>
</nav>


<div class="container-fluid">
  <div class="row">

    <div class="sidebar col-md-3">
      <div>
        <h1 class="storylist">Stories</h1>
      </div>
      <div ng-repeat="book in ctrl.stories" ng-click="ctrl.gotoStory(book.story.storyid)">
        <h2 class="title clickable">
          {{book.story.title}}
        </h2>
      </div>
    </div>

    <div class="mainsection col-md-9">
      <div class="col-md-4">
        <img class="portrait" src="images/portrait.jpg" />
      </div>
      <div class="biography col-md-5">
        <h4 class="ata">About the Author</h4>
        <h4 class="description">Adam Dykaar is a writer, a web developer and a genius provocateur all while still managing to stay incredibly humble. Speaking as someone who definitely isn't Adam Dykaar, and is therefore possessed of a completely unbiased opinion you should hire him to work at your company. He's extremely qualified to do whatever it is you're hiring for.</h4>
      </div>
    </div>

  </div>
</div>
