<nav class="navbar navbar-default">

  <div class="container-fluid">

    <div class="row">

      <div class="github" ng-click="ctrl.goGithub()" title="Visit my GitHub Page">
        <img src="images/github.png" />
      </div>

      <div class="linkedin" ng-click="ctrl.goLinkedin()" title="Visit my LinkedIn Page">
        <img class="icon" src="images/linkedin.png" />
      </div>

      <div class="title col-md-10 col-md-offset-1">
        <h1 class="elegantshadow">Adam Dykaar</h1>
      </div>

    </div>

  </div>

</nav>

<div class="homepage">

</div>
