<nav class="navbar">
  <div class="container-fluid">
    <div class="row">
      <div class="github clickable" ng-click="ctrl.goGithub()" title="Visit my GitHub Page">
        <img src="images/github.png" />
      </div>
      <div class="linkedin clickable" ng-click="ctrl.goLinkedin()" title="Visit my LinkedIn Page">
        <img class="icon" src="images/linkedin.png" />
      </div>
      <div class="resume clickable" ng-click="ctrl.goResume()" title="View my Resume">
        <img class="icon" src="images/resume.png"/>
      </div>
      <div class="website col-md-4 col-md-offset-4" ng-click="ctrl.goHome()">
        <h1 class="elegantshadow clickable">Adam Dykaar</h1>
      </div>
    </div>
  </div>
</nav>

<div class="node container-fluid">
  <div class="nodetitle">
    <h2>{{ctrl.node.nodetitle}}</h2>
  </div>
  <div class="storypartial">
    <p style="white-space: pre-wrap;">
      {{ctrl.node.storypartial}}
    </p>
  </div>
  <div class="choices row">
    <div class="choice col-md-6 clickable" ng-click="ctrl.choiceOne(ctrl.node.choice1dest)" ng-model="ctrl.disabled" ng-disabled="ctrl.disabled">
      {{ctrl.node.choice1txt}}
    </div>
    <div class="choice col-md-6 clickable" ng-click="ctrl.choiceTwo(ctrl.node.choice2dest)">
      {{ctrl.node.choice2txt}}
    </div>
  </div>

</div>
