<nav class="navbar">
  <div class="container-fluid">
    <div class="row">
      <div class="github clickable" ng-click="ctrl.goGithub()" title="Visit my GitHub Page">
        <img src="images/github.png" />
      </div>
      <div class="linkedin clickable" ng-click="ctrl.goLinkedin()" title="Visit my LinkedIn Page">
        <img class="icon" src="images/linkedin.png" />
      </div>
      <div class="resume clickable" ng-click="ctrl.goResume()" title="View my Resume">
        <img class="icon" src="images/resume.png"/>
      </div>
      <div class="website col-md-4 col-md-offset-4" ng-click="ctrl.goHome()">
        <h1 class="elegantshadow clickable">Adam Dykaar</h1>
      </div>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <iframe src="https://drive.google.com/file/d/0B1hTNKQbKzUTU2ZDbmczbXlRZjQ/preview" width="800" height="1030"></iframe>
    </div>
  </div>
</div>
