<nav class="navbar">
  <div class="container-fluid">
    <div class="row">
      <div class="github" ng-click="ctrl.goGithub()" title="Visit my GitHub Page">
        <img src="images/github.png" />
      </div>
      <div class="linkedin" ng-click="ctrl.goLinkedin()" title="Visit my LinkedIn Page">
        <img class="icon" src="images/linkedin.png" />
      </div>
      <div class="website col-md-10 col-md-offset-1" ng-click="ctrl.goHome()">
        <h1 class="elegantshadow">Adam Dykaar</h1>
      </div>
    </div>
  </div>
</nav>


<div class="container-fluid">
  <div class="story row" ng-click="ctrl.enterStory(book.story.storyid)">
      <div class="image col-md-6">
        <img src="{{ctrl.story.story.picture}}" class="picture"/>
      </div>
      <div class="info col-md-6">
        <div class="title">
          <h3>{{ctrl.story.story.title}}</h3>
        </div>
        <div class="summary">
          <h3>{{ctrl.story.story.summary}}</h3>
        </div>
      </div>
  </div>
</div>
